body {
  box-sizing: border-box;
}

.login__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  width: 300px;
  padding: 15px;
  border: none;
  border-radius: 20px;
  color: white;
  background-color: rgb(110, 197, 237);
  font-weight: bold;
  cursor: pointer;
}
